div.timer_view
  div.setting_buttons
    button.add_minutes_button +1min
    button.add_seconds_button +10sec

  div.main_view
    span.minute 00
    span :
    span.second 10

  div.control_buttons
    button.operation_button start
